/* div, section, article */
#header-section {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 20px 5%;
}

/*------------- IMAGES -------------------- */

#logo-img {
  max-width: 12%;
}
